body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.rounded-btn,
.coaches-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rounded-btn {
    background-color: #3498db;
    color: #fff;
}

.coaches-btn {
    background-color: #e74c3c;
    color: #fff;
}
